body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  font-family: "Helvetica";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./background.jpeg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main__table {
  border-radius: 8px;
  height: 50vh;
  width: 50vw;
  border-collapse: collapse;
}

.table__cell_row-header,
.table__cell_row-counter {
  border: 2px solid rgb(248, 91, 91);
  font-weight: bold;
  font-size: 20px;
  color: brown;
  background-color: #fff;
  text-align: center;
}

.table__cell-diagonale {
  font-weight: bold;
  font-size: 20px;
  background-color: brown;
  color: #fff;
  text-align: center;
  border: 2px solid black;
}
.table__cell {
  font-weight: bold;
  background-color: #fff;
  font-size: 15px;
  border: 2px solid black;
  text-align: center;
}
