body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.general-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
button {
   padding: 10px 15px; 
   background-color: #dfdfdf;
   border: 1px transparent solid;
   display: block;
   border-radius: 5px;
}
button:hover {
    background-color: #b1b1b1;
    border-color: #dfdfdf;
    transition: .15s ease-in-out;
}
.wrong_input {
    border-bottom: 2px solid #bb1e06;
}
input, select, option {
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #dfdfdf;
}
input:focus {
    border-bottom: 2px solid #b1b1b1;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form {
    background-color: #f8f6f6;
    padding: 75px 60px 50px 60px;
    border-radius: 5px;
}
div[class*='__title'] {
    font-size: 16px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.error-block {
    margin-top: 7px;
    padding: 10px 30px;
    text-align: center;
    border: 2px solid #f6bf48;
}
.none {
    display: none;
}
.error-warning {
    color: #bb1e06;
    margin-bottom: 7px;
}